@using Marimo.Tangocho.ViewModels;
@model 単語帳学習ViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <h1>@Model.出題された問題.単語</h1>の意味は？
        @foreach (var item in Model.選択肢)
        {
        @using (Html.BeginForm("答える", "単語帳学習", FormMethod.Post))
        {
        <input type="hidden" name="問題の単語" value="@Model.出題された問題.単語" />
        <input type="hidden" name="答えに対応する単語" value="@item.単語" />
        <button class="btn-primary btn-answer text-left col-lg-12">
            @item.意味
        </button>
        }
        }
        <h1 class="text-right">@Model.残った問題数 / @Model.問題の総数</h1>
    </div>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>