@using Marimo.Tangocho.ViewModels;
@model HomePageViewModel
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Translate", "Home", FormMethod.Post))
        {
            @Html.Label("英文を入力してください。")
        @Html.TextAreaFor(m => m.Sentence, new { @class = "col-xs-12 input-lg" })
        <input class="col-xs-1 col-xs-offset-11 btn-default" type="submit" value="辞書を引く" />
        }
    </div>
    @if (Model.Tangocho.Any())
    {
    <div class="container">
        <table class="table table-striped col-xs-12">
            <thead>
                <tr>
                    <th></th>
                    <th class="col-xs-1 text-center">英単語</th>
                    <th class="col-xs-11 text-center">意味</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Tangocho)
                {
                <tr>
                    <td>
                        @using (Html.BeginForm("Delete", "Home", FormMethod.Post))
                        {
                        <input type="hidden" name="word" value="@item.Word" />
                        <button class="btn-default" type="submit"><span class="glyphicon glyphicon-trash" /></button>
                        }
                    </td>
                    <td class="text-center">@item.Word</td>
                    <td>@item.Meaning</td>
                </tr>
                }
            </tbody>
        </table>
        
        @Html.ActionLink("テスト実行", "StartPractice", "Home", null, new { @class = "btn btn-primary col-xs-10 col-xs-offset-1" });
    </div>
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>